<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaeiws3Cp5cuPZhslo8DFJY5cuxVl1w5A</string>
	<key>GCM_SENDER_ID</key>
	<string>602122649762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cherry.ta3.guide</string>
	<key>PROJECT_ID</key>
	<string>zwolnieni-5ac99</string>
	<key>STORAGE_BUCKET</key>
	<string>zwolnieni-5ac99.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602122649762:ios:3c2f1ff8fc79bd190c97fb</string>
</dict>
</plist>
